* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    min-height: 100vh;
}

table {
    border-top: 1px solid #222;
    border-left: 0;
    border-right: 0;
}

table * {
    border-color: #ddd;
}

table th {
    background-color: #eee;
    border-top: 2px solid dodgerblue;
}

table th:first-child, table td:first-child {
    border-left: 0;
}

table th:last-child, table td:last-child {
    border-right: 0;
}

.header {
    background-color: #f69c9c;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

table, td, th {
    border: 1px solid #262626;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

.topMenu {
    display: flex;
}

.topMenu li a{
    color: #fff;
}

.topMenu li a:hover {
    color: #414141;
}

.topMenu li:not(:first-child) {
    margin-left: 15px;
}

.topMenu > li:nth-child(3) {
    flex-grow: 1;
}

.topMenu > li:nth-child(3),li:nth-child(4) {
    text-align: right;
    color: #fff;
}

.body {
    padding: 20px;
}

.fav {
    font-size: 1.125em;
    color: #f66e6e;
}

.fav i:hover {
    cursor: pointer;
}

.footer {
    background-color: #414141;
    color: #fff;
}