* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    min-height: 100vh;
}

table {
    border-top: 1px solid #222;
    border-left: 0;
    border-right: 0;
}

table * {
    border-color: #ddd;
}

table th {
    background-color: #eee;
    border-top: 2px solid dodgerblue;
}

table th:first-child, table td:first-child {
    border-left: 0;
}

table th:last-child, table td:last-child {
    border-right: 0;
}

.header {
    background-color: #f69c9c;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

table, td, th {
    border: 1px solid #262626;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

.topMenu {
    display: flex;
    flex-flow: wrap;
}

.topMenu li a{
    color: #fff;
}

.topMenu li a:hover {
    color: #414141;
}

.topMenu li:not(:first-child) {
    margin-left: 15px;
}

.topMenu > li:nth-child(1) {
    text-align: left;
    flex-grow: 1;
}

.topMenu > li:nth-child(5) {
    flex-grow: 1;
    text-align: right;
}
.topMenu > li:nth-child(7) {
    color: #fff;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgba(250, 136, 136, 0.6);
}

.profile-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid rgba(250, 136, 136, 0.6);
}

.body {
    padding: 20px;
}

.subContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.subContainer .subMenus {
    border-right: 1px solid #868484;
}

.subContainer .subMenus ul li {
    margin-bottom: 1em;
}

.subContainer .subBody {
    padding: 0 10px;
}

.fav {
    font-size: 1.125em;
    color: #f66e6e;
}

.fav i:hover {
    cursor: pointer;
}

.footer {
    background-color: #414141;
    color: #fff;
}